* {
    box-sizing: border-box;
}

body, html {
    background-color: #211717;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: space-between;
}

main {
    margin: 0;
    height: 100%;
    width: 60%;
}

aside {
    perspective: 1000px;
    padding: 20px 10px;
    margin: 0;
    height: 100%;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    align-content: space-between;
    /* border: 1px solid white; */
    overflow: hidden;
}

.nav-div {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    /* border: 1px solid white; */
    width: 70%;
    height: auto;
    transform: rotate3d(-0.5,1,0,-45deg);
    transition: all 0.5s ease-in-out;
}

@keyframes turn-blink {
    0% {color:#dfddc7}
    10% {color:lightgrey;}
    20% {color:#f58b54;}
    30% {color:white;}
    50%{color: #f58b54;}
}

.nav-div:hover .nav-text {
    animation: turn-blink 0.5s ease-in-out 0s 1;
    color: #a34a28;;
}

.nav-div:hover {
    transform: rotate3d(0,0,0,0deg);
}

.nav-text {
    margin: 0;
    padding: 0;
    color: #dfddc7;
    font-size: 4rem;
}

main {
    position: relative;
    height: 100%;
}

#image {
    display: none;
}

#image img {
    height: 320px;
    width: 430px;
}

#heading {
    font-size: 4rem;
    color: #f58b54;
    font-family: monospace;
}

#text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-family: monospace;
    color: white;
}

#click-one {
    font-family: Montserrat;
    color: white;
    font-size: 2rem;
    position: absolute;
    bottom: 200px;
    right: 0px;
    cursor: pointer;
}

#click-two {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1.5rem;
    position: absolute;
    bottom: 200px;
    left: 0px;
    cursor: pointer;
    display: none;
    width: 700px;
}







/* Media Queries */

@media screen and (max-width: 1130px) {
    aside {
        justify-content: center;
    }

    .nav-div {
        width: 90%;
    }
}

@media screen and (max-width: 992px) {
    aside {
        justify-content: flex-start;
    }

    .nav-div {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    aside {
        display: none;
    }
    main{
        width: 100%;
    }
} 

@media screen and (max-width: 720px) {
    #heading {
        font-size: 3rem;
    }
    #click-one {
        bottom: 100px;
        left: 0px;
    }

    #click-two {
        width: 300px;
    }
} 

@media screen and (max-width: 431px) {
    #heading {
        font-size: 2.5rem;
    }
    #click-one {
        bottom: 90px;
        left: 0px;
    }

    #click-two {
        width: 300px;
    }

    #image img {
        height: 240px;
        width: 330px;
    }
} 